/* app css stylesheet */
html {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  /*background-color: #a4a4a4;*/
  background-image: url('resources/portland1.png');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #c1c1c1;
  color: #000000;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.rest-button {
  font-size: 5.5em;
  padding: 90px 90px 90px 90px;
  margin: 50px 20px 20px 20px;
  /*background: linear-gradient(#FFCC67,#776622);*/
/*  background-image: url('resources/purpleGloss.png');
  background-repeat: no-repeat;
  background-size: cover;*/
/*  opacity: .65;*/
  border: none;
  -webkit-animation: unRotateRight .2s;
}
.bar-button {
  font-size: 5.5em;
  padding: 90px 90px 90px 90px;
  margin: 50px 20px 20px 20px;
  /*background: linear-gradient(#FF615D, #772222);*/
/*  background-image: url('resources/redGloss.png');
  background-repeat: no-repeat;
  background-size: cover;*/
/*  opacity: .65;*/
  border: none;
  -webkit-animation: unRotate .2s;
}
.cart-button {
  font-size: 5.5em;
  padding: 90px 90px 90px 90px;
  margin: 50px 20px 20px 20px;
 /* background: linear-gradient(#6899E2,#224477);*/
/*  background-image: url('resources/blueGloss.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .65;*/
  border: none;
  -webkit-animation: unRotate .2s;
}
.cart-button:hover {
/*  opacity: .8;
  background-color: #78A9F2;*/
  -webkit-animation: rotateLeft 20s;
}
.bar-button:hover {
  -webkit-animation: rotateLeft 20s;
/*  opacity: .8;
  background-color: #FF817D;*/

}
.rest-button:hover {
  -webkit-animation: rotateRight 20s;
/*  opacity: .8;
  background-color: #FFDC77;*/
}

.top-header {
  font-size: 5em;
  margin-top: 40px;
  margin-bottom: 10px;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
}

.mission-text {
  font-size: 2.5em;
  margin-top: 20px;
  padding-left: 20px;
  color: white;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}

.selection-options {
  -webkit-animation-duration: 2s;
}

.result-view {
  color: black;
  /*background: url('resources/stardust.png');*/
}

.single-result {
  text-align: center;
  width: 100%;
  min-height: 220px;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  background: rgba(0,0,0,0.4);
}

.overlay-center {

}

.b-name {
  position: relative;
}

.b-address {
  position: relative;
}


.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0,0,0,0.6);
}

.btn-light {
  border-radius: 0;
  color: #333;
  background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255,255,255,0.8);
}

@-webkit-keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  5%{
    transform: rotate(5deg);
  }
}
@-webkit-keyframes unRotate {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  5%{
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes unRotateRight {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/*CSS ANIMATION STUFF*/
.animated {
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.2, .2, .2);
    transform: scale3d(.2, .2, .2);

  }

  50% {
    opacity: .5;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBounce {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  25% {
    opacity: .25;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
  50% {
    opacity: .5;
    -webkit-transform: translate3d(-2%, 0, 0);
    transform: translate3d(-2%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeftBounce {
  -webkit-animation-name: fadeInLeftBounce;
  animation-name: fadeInLeftBounce;
}

@-webkit-keyframes fadeInRightBounce {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  25% {
    opacity: .25;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
  50% {
    opacity: .5;
    -webkit-transform: translate3d(2%, 0, 0);
    transform: translate3d(2%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRightBounce {
  -webkit-animation-name: fadeInRightBounce;
  animation-name: fadeInRightBounce;
  max-width: 110%;
  max-height: 110%;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}