/* app css stylesheet */
body {
  /*background-color: #a4a4a4;*/
  color: #333333;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.rest-button {
  font-size: 5.5em;
  padding: 90px 90px 90px 90px;
  margin: 50px 20px 20px 20px;
  color: #464646;
  background-color: #dfdfdf;
}
.bar-button {
  font-size: 5.5em;
  padding: 90px 90px 90px 90px;
  margin: 50px 20px 20px 20px;
  color: #464646;
  background-color: #dfdfdf;
}
.cart-button {
  font-size: 5.5em;
  padding: 90px 90px 90px 90px;
  margin: 50px 20px 20px 20px;
  color: #464646;
  background-color: #dfdfdf;
}

.top-header {
  color: #2e2e2e;
  font-size: 5em;
  margin-top: 20px;
  opacity: .4;
}