<div class="top-header text-center animated zoomIn">
    Go Local
</div>

<div class="text-center selection-options animated fadeInUp fadeIn">
    <button class="btn btn-dark bar-button" ng-click="businessApiService.selectBar(); goToNext();">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
    </button>
    <button class="btn btn-dark rest-button" ng-click="businessApiService.selectRest(); goToNext();">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    </button>
    <button class="btn btn-dark btn-lg cart-button" ng-click="businessApiService.selectCart(); goToNext();">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </button>
</div>

<div class="mission-text animated fadeInLeft">
    Go Local. Eat Portland
</div>