<div class="top-header text-center animated zoomIn">
    Go Local
</div>

<div class="text-center selection-options animated fadeInUp fadeIn">
    <button class="btn btn-default bar-button" ng-click="businessApiService.selectBar()">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default rest-button" ng-click="businessApiService.selectRest()">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default cart-button" ng-click="businessApiService.selectCart()">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </button>
</div>

<div class="mission-text animated fadeInLeft">
    Go Local. Eat Portland
</div>